.controls {
  text-align: center;
}

.player .controls-next {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  top: 35px;
  right: 65px;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
  background: none;
  border: 3px solid black;
}
